* text=auto !eol
application/.htaccess -text
application/cache/.htaccess -text
application/cache/index.html -text
application/config/autoload.php -text
application/config/config.php -text
application/config/constants.php -text
application/config/database.php -text
application/config/doctypes.php -text
application/config/foreign_chars.php -text
application/config/hooks.php -text
application/config/index.html -text
application/config/migration.php -text
application/config/mimes.php -text
application/config/profiler.php -text
application/config/routes.php -text
application/config/smileys.php -text
application/config/user_agents.php -text
application/controllers/index.html -text
application/controllers/welcome.php -text
application/core/index.html -text
application/errors/error_404.php -text
application/errors/error_db.php -text
application/errors/error_general.php -text
application/errors/error_php.php -text
application/errors/index.html -text
application/helpers/index.html -text
application/hooks/index.html -text
application/index.html -text
application/language/english/index.html -text
application/libraries/index.html -text
application/logs/index.html -text
application/models/index.html -text
application/third_party/index.html -text
application/views/index.html -text
application/views/welcome_message.php -text
/index.php -text
/license.txt -text
system/.htaccess -text
system/core/Benchmark.php -text
system/core/CodeIgniter.php -text
system/core/Common.php -text
system/core/Config.php -text
system/core/Controller.php -text
system/core/Exceptions.php -text
system/core/Hooks.php -text
system/core/Input.php -text
system/core/Lang.php -text
system/core/Loader.php -text
system/core/Model.php -text
system/core/Output.php -text
system/core/Router.php -text
system/core/Security.php -text
system/core/URI.php -text
system/core/Utf8.php -text
system/core/index.html -text
system/database/DB.php -text
system/database/DB_active_rec.php -text
system/database/DB_cache.php -text
system/database/DB_driver.php -text
system/database/DB_forge.php -text
system/database/DB_result.php -text
system/database/DB_utility.php -text
system/database/drivers/cubrid/cubrid_driver.php -text
system/database/drivers/cubrid/cubrid_forge.php -text
system/database/drivers/cubrid/cubrid_result.php -text
system/database/drivers/cubrid/cubrid_utility.php -text
system/database/drivers/cubrid/index.html -text
system/database/drivers/index.html -text
system/database/drivers/mssql/index.html -text
system/database/drivers/mssql/mssql_driver.php -text
system/database/drivers/mssql/mssql_forge.php -text
system/database/drivers/mssql/mssql_result.php -text
system/database/drivers/mssql/mssql_utility.php -text
system/database/drivers/mysql/index.html -text
system/database/drivers/mysql/mysql_driver.php -text
system/database/drivers/mysql/mysql_forge.php -text
system/database/drivers/mysql/mysql_result.php -text
system/database/drivers/mysql/mysql_utility.php -text
system/database/drivers/mysqli/index.html -text
system/database/drivers/mysqli/mysqli_driver.php -text
system/database/drivers/mysqli/mysqli_forge.php -text
system/database/drivers/mysqli/mysqli_result.php -text
system/database/drivers/mysqli/mysqli_utility.php -text
system/database/drivers/oci8/index.html -text
system/database/drivers/oci8/oci8_driver.php -text
system/database/drivers/oci8/oci8_forge.php -text
system/database/drivers/oci8/oci8_result.php -text
system/database/drivers/oci8/oci8_utility.php -text
system/database/drivers/odbc/index.html -text
system/database/drivers/odbc/odbc_driver.php -text
system/database/drivers/odbc/odbc_forge.php -text
system/database/drivers/odbc/odbc_result.php -text
system/database/drivers/odbc/odbc_utility.php -text
system/database/drivers/pdo/index.html -text
system/database/drivers/pdo/pdo_driver.php -text
system/database/drivers/pdo/pdo_forge.php -text
system/database/drivers/pdo/pdo_result.php -text
system/database/drivers/pdo/pdo_utility.php -text
system/database/drivers/postgre/index.html -text
system/database/drivers/postgre/postgre_driver.php -text
system/database/drivers/postgre/postgre_forge.php -text
system/database/drivers/postgre/postgre_result.php -text
system/database/drivers/postgre/postgre_utility.php -text
system/database/drivers/sqlite/index.html -text
system/database/drivers/sqlite/sqlite_driver.php -text
system/database/drivers/sqlite/sqlite_forge.php -text
system/database/drivers/sqlite/sqlite_result.php -text
system/database/drivers/sqlite/sqlite_utility.php -text
system/database/drivers/sqlsrv/index.html -text
system/database/drivers/sqlsrv/sqlsrv_driver.php -text
system/database/drivers/sqlsrv/sqlsrv_forge.php -text
system/database/drivers/sqlsrv/sqlsrv_result.php -text
system/database/drivers/sqlsrv/sqlsrv_utility.php -text
system/database/index.html -text
system/fonts/index.html -text
system/fonts/texb.ttf -text
system/helpers/array_helper.php -text
system/helpers/captcha_helper.php -text
system/helpers/cookie_helper.php -text
system/helpers/date_helper.php -text
system/helpers/directory_helper.php -text
system/helpers/download_helper.php -text
system/helpers/email_helper.php -text
system/helpers/file_helper.php -text
system/helpers/form_helper.php -text
system/helpers/html_helper.php -text
system/helpers/index.html -text
system/helpers/inflector_helper.php -text
system/helpers/language_helper.php -text
system/helpers/number_helper.php -text
system/helpers/path_helper.php -text
system/helpers/security_helper.php -text
system/helpers/smiley_helper.php -text
system/helpers/string_helper.php -text
system/helpers/text_helper.php -text
system/helpers/typography_helper.php -text
system/helpers/url_helper.php -text
system/helpers/xml_helper.php -text
system/index.html -text
system/language/english/calendar_lang.php -text
system/language/english/date_lang.php -text
system/language/english/db_lang.php -text
system/language/english/email_lang.php -text
system/language/english/form_validation_lang.php -text
system/language/english/ftp_lang.php -text
system/language/english/imglib_lang.php -text
system/language/english/index.html -text
system/language/english/migration_lang.php -text
system/language/english/number_lang.php -text
system/language/english/profiler_lang.php -text
system/language/english/unit_test_lang.php -text
system/language/english/upload_lang.php -text
system/language/index.html -text
system/libraries/Cache/Cache.php -text
system/libraries/Cache/drivers/Cache_apc.php -text
system/libraries/Cache/drivers/Cache_dummy.php -text
system/libraries/Cache/drivers/Cache_file.php -text
system/libraries/Cache/drivers/Cache_memcached.php -text
system/libraries/Calendar.php -text
system/libraries/Cart.php -text
system/libraries/Driver.php -text
system/libraries/Email.php -text
system/libraries/Encrypt.php -text
system/libraries/Form_validation.php -text
system/libraries/Ftp.php -text
system/libraries/Image_lib.php -text
system/libraries/Javascript.php -text
system/libraries/Log.php -text
system/libraries/Migration.php -text
system/libraries/Pagination.php -text
system/libraries/Parser.php -text
system/libraries/Profiler.php -text
system/libraries/Session.php -text
system/libraries/Sha1.php -text
system/libraries/Table.php -text
system/libraries/Trackback.php -text
system/libraries/Typography.php -text
system/libraries/Unit_test.php -text
system/libraries/Upload.php -text
system/libraries/User_agent.php -text
system/libraries/Xmlrpc.php -text
system/libraries/Xmlrpcs.php -text
system/libraries/Zip.php -text
system/libraries/index.html -text
system/libraries/javascript/Jquery.php -text
