/* 
    Document   : test2
    Created on : Jan 14, 2012, 5:28:09 PM
    Author     : Quantas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

