/* 
    Document   : test1
    Created on : Jan 14, 2012, 5:28:04 PM
    Author     : Quantas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
        background-color: #fff;
        margin: 40px;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
}

#container{
        margin: 10px;
        border: 1px solid #D0D0D0;
        -webkit-box-shadow: 0 0 8px #D0D0D0;
}